/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

:root {
  font-size: 16px; }

.bodywrap {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/16/Appearance_of_sky_for_weather_forecast,_Dhaka,_Bangladesh.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  color: #666; }
  .bodywrap h1 {
    font-size: 3rem; }
  .bodywrap h2 {
    font-size: 2.5rem; }
  .bodywrap h3 {
    font-size: 2rem; }
  .bodywrap h4 {
    font-size: 1.5rem; }
  .bodywrap p {
    font-size: 1rem; }
  .bodywrap .identifier, .bodywrap .updated {
    text-align: center; }
  .bodywrap .identifier {
    padding-top: 10px; }
  .bodywrap .updated {
    padding-top: 5px; }

#todaysWeather {
  width: 80vw;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  border: 1px solid #666;
  border-top: 0;
  border-bottom: 2px solid #666; }
  #todaysWeather #presently {
    padding: 20px;
    width: 80%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto; }
    #todaysWeather #presently h1 {
      text-align: center; }
    #todaysWeather #presently img.icon {
      width: 18%;
      height: auto;
      margin: 0 41%;
      padding: 10px; }
    #todaysWeather #presently h2 {
      text-align: center; }

footer {
  background-color: #5489B6;
  padding: 20px;
  overflow: hidden;
  border-top: 2px solid #666; }
  footer p:first-child {
    text-align: center;
    padding-bottom: 20px; }
  footer p:nth-child(2) {
    float: left; }
  footer p:last-child {
    float: right; }
  footer a {
    color: white;
    text-decoration: none; }

header {
  height: 160px;
  background-color: #5489B6;
  color: white;
  border-bottom: 2px solid #666; }
  header #weather_status_form {
    height: 20px;
    padding-top: 30px;
    text-align: center; }
    header #weather_status_form span.checkboxLabel {
      font-size: 1.2em;
      font-weight: bold; }

#forecastHolder {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 950px;
  border: 1px solid #666; }
  #forecastHolder .dayHolder {
    display: block;
    float: left;
    width: 25%;
    height: 100%;
    background-color: white;
    border-right: 1px solid #666; }
    #forecastHolder .dayHolder:last-child {
      border-right: 0; }
    #forecastHolder .dayHolder .AM, #forecastHolder .dayHolder .PM {
      width: 100%;
      height: 50%;
      padding: 10px; }
    #forecastHolder .dayHolder .AM > .dayName {
      text-align: center; }
    #forecastHolder .dayHolder .AM > .icon {
      width: 18%;
      height: auto;
      margin: 0 41%;
      padding: 10px; }
    #forecastHolder .dayHolder .PM h2 {
      text-align: center; }
    #forecastHolder .dayHolder .PM > .icon {
      width: 18%;
      height: auto;
      margin: 0 41%;
      padding: 10px; }

.dayMessage, .nightMessage {
  font-size: 1.2rem; }

@media (max-width: 760px) {
  #forecastHolder {
    height: auto; }
    #forecastHolder > .dayHolder {
      width: 100%;
      height: auto;
      float: none;
      margin-bottom: 10px; }
      #forecastHolder > .dayHolder > .AM, #forecastHolder > .dayHolder > .PM {
        width: 49%;
        float: left; } }

/*# sourceMappingURL=styles.css.map */
