header {
  height: 160px;
  background-color: $headFoot;
  color: $white;
  border-bottom: 2px solid #666;
  #weather_status_form {
    height: 20px;
    padding-top: 30px;
    text-align: center;
    span.checkboxLabel {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}
